/* ===== MENU SIDEBAR ===== */

.menu-container {
    /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.menu-logo {
  width: 50px;
  margin-left: 7rem;
}

.menus ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 13px;
  font-weight: 500;
  color: #555;
  cursor: pointer;
}

.menu.selected,
.menu:hover {
  color: #f06400;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fde7f3;
  color: #b6206f;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 12px;
  color: #444;
}
